{% extends "C#baseid.html" %}
{% block blog_content %}
<p class="list-group-item-text">
CSS中，盒子模型是一个很重要的概念，现在来简单总结一下盒子模型。
<ol>
	<li>盒子中的内容------------------------------------------------------------content</li>
	<li>盒子的边框--------------------------------------------------------------border</li>
	<li>盒子的边框与内容的距离，称为填充或者叫内边距（内补丁）-------------------------padding</li>
	<li>如果有多个盒子，盒子与盒子之间的距离称为边界或者叫外边距（外补丁）---------------margin</li>
</ol>
整个盒子模型在网页中占据的宽度为：<br>
<strong>左边界+左边框+左填充+内容+右填充+右边框+右边界</strong>
</p>

{% endblock %}