{% extends "homebase.html" %}
{% block title %} {{ blog_type }}——晴天网 {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/CSharpbase.css">
{% endblock %}
{% block content %}
<div class="container" id="csharpcontainer">
{% if blog_type == 'C#' %}
{% for blog in blogs %}
<div class="list-group">
    <a href="/blogs/CSharpbaseblog/{{ blog.id }}/"><h4 class="list-group-item-heading">{{ blog.title }}</h4></a>
    <p class="list-group-item-text">{{ blog.content }}</p>
</div>
{% endfor %}
{% endif %}

{% if blog_type == 'python' %}
{% for blog in blogs %}
<div class="list-group">
    <a href="/blogs/pythonblog/{{ blog.id }}/"><h4 class="list-group-item-heading">{{ blog.title }}</h4></a>
    <p class="list-group-item-text">{{ blog.content }}</p>
</div>
{% endfor %}
{% endif %}

{% if blog_type == 'webFront' %}
{% for blog in blogs %}
<div class="list-group">
    <a href="/blogs/webfrontblog/{{ blog.id }}/"><h4 class="list-group-item-heading">{{ blog.title }}</h4></a>
    <p class="list-group-item-text">{{ blog.content }}</p>
</div>
{% endfor %}
{% endif %}

{% if blog_type == 'datastruct' %}
{% for blog in blogs %}
<div class="list-group">
    <a href="/blogs/datastructblog/{{ blog.id }}/"><h4 class="list-group-item-heading">{{ blog.title }}</h4></a>
    <p class="list-group-item-text">{{ blog.content }}</p>
</div>
{% endfor %}
{% endif %}

{% if blog_type == 'linux' %}
{% for blog in blogs %}
<div class="list-group">
    <a href="/blogs/linuxblog/{{ blog.id }}/"><h4 class="list-group-item-heading">{{ blog.title }}</h4></a>
    <p class="list-group-item-text">{{ blog.content }}</p>
</div>
{% endfor %}
{% endif %}
</div>
{% endblock %}