{% extends "homebase.html" %}
{% block title %} {{ blog_type }}——晴天网 {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/CSharpbase.css">
{% endblock %}
{% block content %}
<div class="container" id="csharpcontainer">
<div class="list-group">
    <h1 class="list-group-item-heading">{{ blog.title }}</h4>
    <div class="container">
    	<div class="row">
    		<div class="col-md-2">作者：许健</div>
    		<div class="col-md-2">类型：{{ blog_type}}</div>
    		<div class="col-md-2">时间：{{ blog.date}}</div>
    		<div class="col-md-2">点击量：{{ blog.traffic }}</div>
    		<div class="col-md-4">点个赞 
    		<div class="btn-group" data-toggle="buttons">
	    		<label class="btn btn-default ">
	    		<input type="checkbox" autocomplete="off" checked>
	    		<span class="glyphicon glyphicon glyphicon-thumbs-up" aria-hidden="true" id="approval"></span>
	  			</label>
  			</div>
			</div>
    	</div>
    </div>
    
    {% block blog_content %}{% endblock %}
    <hr>
    <h4>评论</h4>
    <hr>
    <div class="container">
    {% for comment in comments %}
        <div class="row">
            <div class="col-md-12 usernameblue"><h4>{{ comment.user.username }}</h4></div>
        </div>
        <div class="row">
            <div class="col-12 timecolor">评论时间：{{ comment.datetime }}</div>
        </div>
        <div class="row">
            <p>{{ comment.content }}</p>
        </div>
        <hr>
    {% endfor %}
    </div>
    <hr>
    {% if blog.blog_type == 'C#base' %}
    <form action="/users/newcomment/CSharpbaseblog/{{ blog.id }}/" method="post">
    {% csrf_token %}
        <textarea class="form-control" rows="3" name="content" placeholder="我也来评论..." id="commentarea"></textarea>
        <input type="hidden" name="username" value="{{ user.username }}">
        <input type="hidden" name="blog" value="{{ blog.id }}">
        <button type="submit" class="btn btn-default">发表评论</button>
    </form>
    {% endif %}
    {% if blog.blog_type == 'C#advance' %}
    <form action="/users/newcomment/CSharpadvanceblog/{{ blog.id }}/" method="post">
    {% csrf_token %}
        <textarea class="form-control" rows="3" name="content" placeholder="我也来评论..." id="commentarea"></textarea>
        <input type="hidden" name="username" value="{{ user.username }}">
        <input type="hidden" name="blog" value="{{ blog.id }}">
        <button type="submit" class="btn btn-default">发表评论</button>
    </form>
    {% endif %}
    {% if blog.blog_type == 'Bootstrap' %}
    <form action="/users/newcomment/Bootstrapblog/{{ blog.id }}/" method="post">
    {% csrf_token %}
        <textarea class="form-control" rows="3" name="content" placeholder="我也来评论..." id="commentarea"></textarea>
        <input type="hidden" name="username" value="{{ user.username }}">
        <input type="hidden" name="blog" value="{{ blog.id }}">
        <button type="submit" class="btn btn-default">发表评论</button>
    </form>
    {% endif %}
    {% if blog.blog_type == 'ubuntu' %}
    <form action="/users/newcomment/ubuntublog/{{ blog.id }}/" method="post">
    {% csrf_token %}
        <textarea class="form-control" rows="3" name="content" placeholder="我也来评论..." id="commentarea"></textarea>
        <input type="hidden" name="username" value="{{ user.username }}">
        <input type="hidden" name="blog" value="{{ blog.id }}">
        <button type="submit" class="btn btn-default">发表评论</button>
    </form>
    {% endif %}
 </div>
</div>
<script type="text/javascript">
    $('#commentarea').blur(function(){
        $.ajax({
            url: "/users/testlogin/",
            type: "GET",
            success: function(arg){
                if (arg == "") {}
                else {
                    alert(arg)
                }
            }
        });
    });
    $('#approval').click(function(){
        var blog_id = {{ blog.id }};
        $.ajax({
            url: "/users/approval/",
            type: "POST",
            data: { blogid : blog_id },
            success: function(arg){
                alert(arg)
            }
        });
    });
</script>
{% endblock %}