{% extends "homebase.html" %}
{% block title %} 关于本站——晴天网 {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/home.css">
<link rel="stylesheet" type="text/css" href="/static/css/homebase.css">
{% endblock %}
{% block content %}
<div class="container-fluid" id="contactimg">
	<div class="container">
		<h1 class="words">alfred愿意，本站的搬运工，纯手工打造本站。</h1>
		<h2 class="words">由Django+mysql+Bootstrap建站。</h2>
		<h2 class="words">主要内容为一些笔记，虽然都是奇奇怪怪的笔记，后续将持续更新。所有的评论我都将邮件回复。</h2>
		<h2 class="words">网页确实是丑了点，勉强凑合着看吧，以后再改改，毕竟整个网站的时间零零碎碎的加起来也就十几个小时吧。</h2>
		<h2 class="words">若对本站感兴趣或者想联系我本人，email ——> alfredyuanyi@gmail.com</h2>
		<h2 class="words">最后，谢谢支持！</h2>
	</div>
</div>
{% endblock %}